<div class="container">
	<h2>Cadastro de pessoas</h2>
	<br />
	<div class="container-fluid">
		<label for="nome">Nome:</label>&nbsp;
		<input
			#nomePessoa
			(input)="pessoa = nomePessoa.value"
			name="nome"
			type="text"
			minlength="3"
		/>&nbsp;
		<button
			(click)="
				inserirPessoa(pessoa); nomePessoa.value = ''; nomePessoa.focus()
			"
		>
			OK
		</button>
	</div>
	<br />
	<h2>Pessoas cadastradas</h2>
	<br />
	<table class=" table table-bordereds">
		<thead>
			<tr>
				<th>Nome</th>
				<th>Ação</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let pessoa of pessoas">
				<td>{{ pessoa }}</td>
				<td>
					<button
						(click)="excluirPessoa(pessoa)"
						class="btn-outline-danger"
					>
						X
					</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>
