.container-fluid {
  border: 1px solid #000000;
}

tr,
th {
  text-align: center;
}

#divProduto {
  margin-top: 6px;
}

#botaoComprar {
  float: right;
}
.totalTexto {
  font-size: 20px;
  font-weight: bold;
}

#total {
  float: right;
  font-size: 18px;
  font-weight: bold;
}
