.container-fluid {
  border: 1px solid #000000;
}

tr,
th {
  text-align: center;
}

#divProduto {
  border: 1px solid #000000;
}

#botaoComprar {
  float: right;
  top: 20px;
}

#total {
  text-align: right;
}
